.bmenuLetras {
    display:inline-block; 
    font-family: cursive; 
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding-left: 0.4em;
    padding-right: 0.4em;
    color: #26fc00;
}
.bmenu {
    background-color: #388E3C;
    display: inline-block;
}
.bodyS {
    font-family:Helvetica, Arial, sans-serif; 
    margin:0;
}

.headerInd {
    background-image: linear-gradient(black, #26fc00, #179600, #0f5e01, black);
    color:white; 
    text-align:left;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.containerHeader {
    overflow: hidden; 
    padding: 0.4em; 
    height: 16em;
    position: static;
}

.titulo {
    text-transform: uppercase;
    font-weight:900; 
    margin-left:0.5em; 
    font-size: 5.5em; 
    -webkit-text-fill-color: white; 
    -webkit-text-stroke: 5px black;
}

table {
    width: 100%;
    padding-bottom: 2em;
}

table, th, td{
    border: 1px solid black; 
    border-spacing: 0px; 
    border-top: none; 
    border-bottom: none;
}

th {
    padding-bottom: 1em;
}

td {
    padding-bottom: 0.5em;
}

.tituloTabla{
    text-align: center; 
    /*border-bottom-style: solid; border-color: blue; border-width: 2px;*/ 
    padding-bottom: 0.2em; 
    border-bottom:  solid 0.1em #728f87;
}

tr {
    text-align: center;
}

.logo {
    float: left; 
    display:inline-block; 
    width: 300px; 
    height: 250px;
}

.tituloDiv {
    float: left; 
    display:inline-block;
}

.barraMenu {
    width: 65%; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #1b5e20;
}

.SecNoticias {
    display: inline-block;
    width: 70%;
    margin-left: 1%;
    margin-top: 1em;
    background-color: #848587;
    box-shadow: 0px 6px 10px black;
}

.generalNoticias {

}

.containerNoticiaBaja{
    display: flex; 
    justify-content: space-between;
    position: relative;
    padding-left: 0.8em; 
    padding-right: 0.8em;
}

.containerNoticiaMedia{
    display: flex; 
    justify-content: space-between; 
    padding-left: 0.8em; 
    padding-right: 0.8em;
}

.containerNoticiaAlta {
    display: flex; 
    justify-content: center; 
    position: relative;
    padding-left: 0.8em; 
    padding-right: 0.8em;
}

.tituloSecNoticias{
    margin-left: 1em; 
    margin-top: 1em;
}

.secDerecha {
    float: right;
    display: inline-block;
    width: 27%;
    margin-right: 1%;
}

.menuTablas {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #7fb0a1;
    border-bottom: 1px black solid;
}

.SecResultados {
    margin-top: 1em;
    box-shadow: 0px 3px 6px black;
    border-radius: 1em;
}

.Resultados {
    text-align: center;
    padding: 1em;
    background-color: #7fb0a1;
    border-bottom: 1px black solid;
}

.PròximosPartidos {
    
}

.Tablas {
    padding: 1em;
    border: 1px black solid;
    font-size: 1em;
    background-color: #61877c;
}

.TApertura {
    background-color: #7fb0a1;
}

.Fechas {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #7fb0a1;
    border-bottom: 1px black solid;
}

.tituloInfo {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 2em;
    background-color: rgba(0,0,0,0.60);
}

.tituloInformacion {
    color: white; 
    font-weight: bold; 
    font-size: 1em;
}

.noticiaRepercusionBaja {
    position: relative;
    width: 32%;
    justify-content: center;
    align-items: center;
}

.noticiaRepercusionBajaMedia {
    width: 32%;
}

.noticiaRepercusionMedia {
    position: relative;
    width: 66%;
    justify-content: center;
    align-items: center;
}

.noticiaRepercusionAlta {
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.box img{
    width: 100%;
    height: auto;
}

.box {
    width: 100%;
    height: auto;
}

.cerrar {
    display: inline-block; 
    height: 40px; 
    width: 40px; 
    color: white; 
    border-radius: 50%; 
    background-color: purple; 
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
    font-weight: 300; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}
@media (max-width:600px){

    .SecNoticias{
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin: auto;
        width: 95%;
    }
    .tituloInfo {
        display: flex;
        width: 100%;
        justify-content: center;
        text-align: center; 
        position: relative; 
        bottom: 2em; 
        background-color: rgba(0,0,0,0.60);
    }
    .secDerechaTablas {
        display: none;
    }
    .containerNoticiaBaja, .containerNoticiaMedia {
        display: flex;
        flex-flow: column;
        position: relative;
    }
    .noticiaRepercusionBaja, .noticiaRepercusionBajaMedia, .noticiaRepercusionMedia {
        position: relative;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .tituloInformacion {
        color: white; 
        font-weight: bold; 
        font-size: 1.2em;
    }
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/08/2020, 08:28:41 PM
    Author     : pali_
*/
